<div id="demo" style="display: none;" class="carousel slide" data-bs-ride="carousel" style="width:100%;height:200px;overflow: hidden;">
<!-- The slideshow/carousel -->
    <div class="carousel-inner" > 
      <div class="carousel-item active">
        <img  src="https://img.freepik.com/free-photo/online-fashion-shopping-with-laptop_23-2150400630.jpg?size=626&ext=jpg&ga=GA1.1.1044665241.1698676517&semt=ais" alt="Los Angeles" class="d-block" style="width: 100%;">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/free-photo/full-shot-woman-online-shopping_23-2150405582.jpg?size=626&ext=jpg&ga=GA1.1.1044665241.1698676517&semt=ais" alt="Chicago" class="d-block" style="width:100%">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/premium-vector/online-shopping-store-website-mobile-phone-design-smart-business-marketing-concept-horizontal-view-vector-illustration_62391-460.jpg?size=626&ext=jpg&ga=GA1.1.1044665241.1698676517&semt=ais" alt="New York" class="d-block" style="width:100%">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>