<footer>
    <div>
        <h3>PRODUCTS</h3>
        
            <li><a href="">MOBILE</a></li>
            <li><a href="">SMARTWATCH</a></li>
            <li><a href="">EARPOTS</a></li>
            <li><a href="">LAPTOP</a></li>
            <li><a href="">IPAD</a></li>
      
    </div>
    <div>
        <h3>DETAILS</h3>
        <li><a href="">PRODUCTS DETAILS</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </div>
    <div>
        <h3>CONTACT</h3>
        <li><a href=""><i class="fab fa-instagram"></i>INSTAGRAM</a></li>
        <li><a href=""><i class="fab fa-whatsapp-square"></i>WHATSAPP</a></li>
        <li><a href=""><i class="fab fa-telegram"></i>TELEGRAM</a></li>
        <li><a href=""> <i class="fa fa-envelope"></i>GMAIL</a></li>
        
    </div>
</footer>
